:root {
    --light-green: #ABD8D9;
    --lightest-green: #c0e1e2;
    --dark-green: #547D83;
    --medium-green: #6EBCAE;
    --light-purple: #967CBC;
    --medium-purple: #8A70AE;
    --dark-purple: #6F5B8C;
    --dark-gray: #3D3D3D;
    --darker-gray: #272727;
    --light-gray: #C5BCCF;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa.ttf);
    font-weight: normal;  
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Light.ttf); 
}

@font-face {
    font-family: RobotoThinItalic;
    src: url(../assets/fonts/Roboto/Roboto-LightItalic.ttf); 
}

.containerFull {
    position: absolute;
    transform: translate(0%, 0%);
    top: 150px; /*450*/
    bottom: 10px;
    right: 10px;
    left: 90px;
    border-radius: 8px;

    background: rgba(21, 21, 21, 0.3);
}

.container {
    position: absolute;
    transform: translate(0%, 0%);
    top: 150px;
    bottom: 10px;
    right: 10px;
    left: 290px;
    border-radius: 8px;

    background: rgba(21, 21, 21, 0.3);;
}

.container div[type="sub"], .containerFull div[type="sub"]{
    position: absolute;
    top: 35%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 0px 0px 8px 8px;

    background: rgba(21, 21, 21, 0.3);;
}

h2 {
    font-family: Comfortaa;
    font-weight: normal;
    font-size: 72px;
    color: #222222;
    position: absolute;
    left: 250px;
    top: 20px;

}

h3 {
    font-family: Roboto;
    font-weight: lighter;
    font-size: 22px;
    color: #222222;
    position: absolute;
    left: 250px;
    top: 100px;

}

.white {
    font-family: RobotoThinItalic;
    font-size: 18px;
    color: #e4e4e4;
}

.info {
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 65%;
    top: 0%;
    overflow: hidden;

}

.info__container{
    margin: 10px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 5%;
    top: 5%;

}

.info__container-img {
    position: absolute;
    left: 0%;
    top: 0%;

    background-image: url(../assets/imgs/episodePlaceholder.png);
    background-size: contain;
    border-radius: 180px;
    
    margin: 10px;
    width: 200px;
    height: 200px;
}

.button {
    height:50px;
    width: 140px;
    text-align: center;
    line-height: 50px;
    background-color: var(--light-green);
    border-radius: 4px;
    color: var(--dark-purple);
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
}

.button:last-child {
    padding-left: 20px;
    text-align: justify;
}

.button {
    grid-row: -1 / -1;
}

.button[type="or"] {
    width: 40px;
    background-color: transparent;
    color: white;
    font-family: RobotoThinItalic;
}

.button__container {
    display: grid;
    position: absolute;
    top: 5%;
    right: 2%;
    grid-template-columns: 150px 50px 150px;
    grid-template-rows: 1fr 0px;

}

svg[type="shuffle"]{
    fill: var(--dark-purple);
    position: absolute;
    top: 12px;
    left: 300px;
}