.flag {
  width: 600px;
  height: 350px;
  border: 1px solid;
}
.row {
  width: 100%;
  height: 36.0%;
}

.row2 {
  width: 100%;
  height: 28.0%;
}

.icon {
  margin: auto;
  width: 80px;
  height: 80px;
  padding: 8px;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Sol_de_Mayo-Bandera_de_Argentina.svg/504px-Sol_de_Mayo-Bandera_de_Argentina.svg.png");
}

.color {
  Background-color: #74ACDF;
}
