.container {
    position: absolute;
    width: 615px;
    height: 750px;
    background: rgba(21, 21, 21, 0.15);
    top: 15%;
    right: 5%;
    bottom: 10%;
}

.logo {
    padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
    padding-bottom: 10%;
	text-align: center;
}

.striked {
    display: flex;
    align-items: center;
    margin: 8px 0px
}

.striked::before, .striked:after {
    flex-grow: 1;
    background: black;
    content: "";
    height: 1px;
    margin: 0px 8px;
}

input[type=text] {
    width: 70%;
    padding: 14px 15px;
    margin: 8px 0px;
    border: 2px solid var(--medium-green);
}

input[type=text2] {
    width: 30%;
    padding: 14px 15px;
    margin: 8px 22px;
    border: 2px solid var(--medium-green);
}

select[type=select] {
    width: 30%;
    padding: 14px 15px;
    margin: 8px 22px;
    border: 2px solid var(--medium-green);
    color: rgb(136, 136, 136);
    border-radius: 0px;
}

input[type=password] {
    width: 70%;
    padding: 14px 15px;
    margin: 8px 0px;
    border: 2px solid var(--medium-green);
}

input[type=button] {
    background-color: var(--medium-green);
    border: none;
    padding: 16px 32px;
    margin: 20px 2px 40px 2px;
    cursor: pointer;
    color: white;
    width: 70%;
    font-weight: bold;
    font-family: RobotoRegular;
    border-radius: 6px;
}

.formDiv {
    margin: 20px 0px;
    font-size: x-small;
}

.underline:hover{
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}

.terms {
    font-size: small;
    padding: 25px 0px;
}


