* {
    box-sizing: border-box;
}

.search__box {
    display: flex;
    position: absolute;
    left: 110px;
    top: 40px;
    right: 30%;
}

.search__box-expanded {
    display: flex;
    position: absolute;
    left: 310px;
    top: 40px;
    right: 30%;
}

.search__box input[type="size"], .search__box-expanded input[type="size"] {
    background: rgba(21, 21, 21, 0.35);
    border-style: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    height: 50px;
    padding-left: 20px;
    display: block;
    width: 100%;
}

.search__box svg[type="icon"], .search__box-expanded svg[type="icon"] {
    opacity: 0.5;
    padding-right: 0px;
    position: absolute;
    transform: scale(0.6) translateY(12px);
    right: 10px;
    top: 0px;
}

input[type="size"]::-webkit-search-decoration,
input[type="size"]::-webkit-search-cancel-button,
input[type="size"]::-webkit-search-results-button,
input[type="size"]::-webkit-search-results-decoration { display: none; }